Repository dhofheinz/claude-code-statusline-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dhofheinz, @documentation-team, @core-team, @devops-team, @community-team, @security-team

fix: correct broken anchor links in README documentation
  README.md
Owners: @dhofheinz

fix: resolve all ShellCheck warnings for CI compliance
  statusline-basic.sh
  statusline-segments.sh
Owners: @dhofheinz, @core-team

fix: uncomment trans_purple_blue variable used on line 264
  statusline-segments.sh
Owners: @dhofheinz, @core-team

fix: correct hashFiles syntax in security workflow
  .github/workflows/security.yml
Owners: @dhofheinz, @security-team

fix: add error handling for SARIF upload in CI workflow
  .github/workflows/ci.yml
Owners: @dhofheinz, @devops-team

fix: make PR creation optional in release workflow
  .github/workflows/release.yml
Owners: @dhofheinz, @devops-team

docs: update for release v1.0.0
  CHANGELOG.md
Owners: @dhofheinz, @documentation-team

docs: enhance release documentation
  CHANGELOG.md
  VERSION
Owners: @dhofheinz, @documentation-team

feat: enhance release workflow documentation updates
  .github/workflows/release.yml
Owners: @dhofheinz, @devops-team

docs: update documentation for v1.0.0 (#3)
  CHANGELOG.md
  VERSION
Owners: @dhofheinz, @documentation-team

feat: implement comprehensive documentation website with advanced design system
  .gitignore
  docs/assets/css/accessibility.css
  docs/assets/css/advanced.css
  docs/assets/css/design-system.css
  docs/assets/css/main.css
  docs/assets/js/accessibility.js
  docs/assets/js/advanced.js
  docs/assets/js/main.js
  docs/gallery.html
  docs/index.html
  docs/playground.html
Owners: @dhofheinz, @documentation-team

chore: add .nojekyll file for GitHub Pages compatibility
  docs/.nojekyll
Owners: @dhofheinz, @documentation-team

fix: configure GitHub Pages for static HTML site
  docs/_config.yml
Owners: @dhofheinz, @documentation-team

fix: remove magnetic cursor and fix accessibility panel behavior
  docs/assets/css/accessibility.css
  docs/assets/js/accessibility.js
  docs/assets/js/advanced.js
Owners: @dhofheinz, @documentation-team

feat: enhance hero section with vibrant colors and improved contrast
  docs/assets/css/advanced.css
  docs/assets/css/main.css
Owners: @dhofheinz, @documentation-team

fix: resolve playground rendering and accessibility feature implementations
  docs/assets/css/accessibility-fixes.css
  docs/assets/js/main.js
  docs/gallery.html
  docs/index.html
  docs/playground.html
Owners: @dhofheinz, @documentation-team

fix: resolve hero title animation spacing and layout shift issues
  docs/assets/css/main.css
  docs/assets/js/advanced.js
Owners: @dhofheinz, @documentation-team

perf: refactor advanced.js for significant performance improvements
  docs/assets/js/advanced.js
Owners: @dhofheinz, @documentation-team

fix: remove erroneous script tags from advanced.js file
  docs/assets/js/advanced.js
Owners: @dhofheinz, @documentation-team

fix: add defer attribute to advanced.js and reference accessibility-fixes.css
  docs/gallery.html
  docs/index.html
  docs/playground.html
Owners: @dhofheinz, @documentation-team

refactor: remove gallery page and simplify documentation structure
  docs/_config.yml
  docs/gallery.html
  docs/index.html
  docs/playground.html
Owners: @dhofheinz, @documentation-team

fix: add z-index to hero preview for proper visibility
  docs/assets/css/main.css
Owners: @dhofheinz, @documentation-team

fix: resolve hero statusline animation issues
  docs/assets/js/main.js
Owners: @dhofheinz, @documentation-team

refactor: production-grade overhaul of main.js animation system
  docs/assets/js/main.js
Owners: @dhofheinz, @documentation-team

fix: remove problematic cost visualizer and magnetic cursor features
  docs/assets/css/accessibility-fixes.css
  docs/assets/js/advanced.js
  docs/index.html
Owners: @dhofheinz, @documentation-team

fix: add missing CSS classes for playground statusline segments
  docs/assets/css/main.css
Owners: @dhofheinz, @documentation-team

fix: preserve hero title gradient text effect in monochrome mode
  docs/assets/css/accessibility-fixes.css
Owners: @dhofheinz, @documentation-team

refactor: simplify site structure and enhance accessibility features
  docs/assets/css/accessibility.css
  docs/assets/js/accessibility.js
  docs/index.html
  docs/playground.html
Owners: @dhofheinz, @documentation-team

.github/CODEOWNERS:

# Code Owners for Claude Code Statusline Manager
# These users will be automatically requested for review when someone opens a pull request

# Global owners - will be requested for review on all changes
* @dhofheinz

# Documentation owners
/docs/ @dhofheinz @documentation-team
*.md @dhofheinz @documentation-team
/GETTING_STARTED.md @dhofheinz
/README.md @dhofheinz

# Core scripts owners
/statusline-*.sh @dhofheinz @core-team
/install.sh @dhofheinz @devops-team
/statusline-manager.sh @dhofheinz @core-team

# GitHub Actions workflows
/.github/workflows/ @dhofheinz @devops-team
/.github/ISSUE_TEMPLATE/ @dhofheinz @community-team
/.github/PULL_REQUEST_TEMPLATE/ @dhofheinz @community-team

# Security-related files
/SECURITY.md @dhofheinz @security-team
/.github/workflows/security.yml @dhofheinz @security-team

# Configuration files
/.gitignore @dhofheinz
/settings.json.example @dhofheinz @core-team
/.github/branch-protection.json @dhofheinz @devops-team
